/* -------------
    fonts 
---------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lobster&family=Poppins:wght@400;500&display=swap");

/* ------------------------------
    common styles or utilities 
--------------------------------- */

body {
  margin: 0%;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

/* --------------------
    nav bar style 
----------------------- */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

nav a {
  text-decoration: none;
}

.home-route {
  margin-left: 120px;
}

.home-route a {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
}
.route {
  margin-right: 120px;
}
.route a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
  margin-right: 34px;
}

.icon {
  display: none;
}
/* -------------------------------
    influencer products style 
---------------------------------- */

.influencer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.half-width {
  padding-right: 80px;
}

.img-width {
  margin-left: 520px;
}

.half-width h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}

.half-width p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
}

.prebook-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 196px;
  padding: 10px 24px;
  gap: 8px;
  background-color: #e02c6d;
  border-radius: 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
  margin-top: 16px;
}

.prebook-btn a {
  text-decoration: none;
  color: white;
}

/* -------------------------------
    brand logo style 
---------------------------------- */

.logos {
  margin-top: 100px;
}

/* Gradient transparent - color - transparent */
.logos hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 36px 62px;
}

/* -------------------------------
    popular collection style 
---------------------------------- */

.popular-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
  /* identical to box height, or 250% */
  color: #3a3a3a;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* border: 2px solid red; */
}

.top-collection {
  max-width: 1047px;
  margin: 0 auto;
}
.product {
  border-radius: 10px;
  margin: 10px;
  /* border: 2px solid forestgreen; */
  max-width: 329px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
}

.product img {
  border-radius: 5px;
  width: 100%;
}

.product-name {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height, or 143% */
  font-feature-settings: "liga" off;
  /* Text / Gray 900 */
  color: #18191f;
  margin: 16px 0 0 0;
}

.product h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  margin: 6px 0 0 0;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 8px;
  max-height: 32px;
}
.ratings p,
h5 {
  margin: 0%;
}

.fa-star,
.fa-star-half-stroke {
  color: #fb8200;
  font-size: 15px;
}

.ratings h5 {
  color: #5e6366;
}

.product p {
  margin: 0%;
}

.seemore-route {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
  padding-right: 20px;
  color: rgba(224, 44, 109, 0.87);
}

.seemore-route a {
  text-decoration: none;
  color: rgba(224, 44, 109, 0.87);
}

/* -------------------------------
    featured products style 
---------------------------------- */

.featured-products {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  margin: 102px 165px;
}

.featured-img {
  border-radius: 7px;
}

.featured-detail h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
  /* identical to box height, or 158% */
  color: #0a0826;
  margin: 25px 0 0 0;
}
.featured-detail p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #6c6c6c;
  margin: 16px 0 16px 0;
}

.join-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 155px;
  padding: 10px 24px;
  gap: 8px;
  background-color: #e02c6d;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin-bottom: 10px;
}
.join-btn a {
  text-decoration: none;
  color: white;
}

/* ------------------------------------
    influencer products footer style 
--------------------------------------- */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 350px;
  background-color: #0a0826;
}
.influencer-footer {
  margin: 50px 0px;
  color: white;
  text-align: center;
}

.influencer-footer h2,
p {
  margin: 0px 0px 3px 0;
}

.footer-icon {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 17px;
}

.fa-brands {
  color: #ffffff;
  font-size: 25px;
}

/* ---------------------
    Media Queries
    ---------------------- */

/****** Mobile Devices ******/
@media only screen and (max-width: 688px) {
  /*---- common styles or utilities ---- */
  body {
    margin: 0%;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    min-width: 360px;
  }

  /*---- nav bar style ---- */
  nav {
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .home-route {
    margin: 0%;
    padding-right: 100px;
  }

  .nav-name {
    display: none;
  }

  nav a.icon {
    float: ;
    display: block;
  }

  /*---- influencer products style ---- */
  .container {
    width: 100%;
  }

  .influencer {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
  }

  .half-width {
    padding: 0%;
    text-align: center;
  }

  .half-width p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "liga" off;
    color: #3a3a3a;
  }

  .half-width h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
  }

  .half-width p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    margin-bottom: 20px;
  }

  .prebook-btn {
    margin: auto;
    width: 80%;
  }

  .img-width {
    width: 100%;
    margin: 0%;
  }

  /*---- brand logo style ---- */
  .logos hr {
    display: none;
  }

  .logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 36px 62px;
    gap: 22px;
  }
  .logo img {
    width: 100%;
    text-align: center;
  }

  /*---- popular collection style ---- */
  .products {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 80%;
    gap: 15px;
  }

  .product {
    margin: auto;
    width: 100%;
  }

  /*---- featured products style ---- */

  .featured-products {
    flex-direction: column-reverse;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    border: 1px solid red;
    margin: 0%;
  }

  .featured-img {
    margin: 30px 0 50px 0;
  }

  .featured-detail {
    text-align: center;
  }
  .join-btn {
    margin: auto;
    width: 100%;
  }
}

/* Tablet Devices */
/* @media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
} */
